<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hola mundo</title>
</head>

<body>
    <h1>Listado de Categorias: "17 ODS - Los 17 Objetivos de Desarrollo Sostenible"</h1>
    <ul>
        
        {% for categoria in lista_categorias %}
        <li>{{ categoria.id }} - {{categoria.nombre}}</li>
        {% endfor %}
        
    </ul>
    
</body>

</html>